body {
	background-color:#121212;
}

body,
input {
	font-family: 'Nunito Sans', sans-serif;
	font-size: large;
	color: rgb(216, 216, 216);
}

a {
	text-decoration: none;

}

.list {
	background-color: #000000;
	margin: 20px auto;
	width: 100%;
	max-width: 500px;
	padding: 20px;
	border-radius: 2px;
	box-shadow: 3px 3px 0 rgba(0, 0, 0, .1);
	box-sizing: border-box;
}

.list .header {
	font-family: 'Nunito Sans', sans-serif;
	margin: 0 0 10px 0;
	color: rgb(216, 216, 216);
}

.items {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-family: 'Nunito Sans', sans-serif;
	color: rgb(216, 216, 216);
}

.items .task {
	font-weight: bolder;
}

.items li:hover .done-btn {
	opacity: 1;
}

.items .item.done {
	text-decoration: line-through;
}

.items li,
.item-add .input {
	border: 0;
	background-color: #121212;
	border-bottom: none;
	padding: 15px 0;
	margin: 3px 0;
}

.input {
	width: 100%;
}

.input:focus {
	outline:none;
}

.item-update .input-update {
  border: 0;
	background-color: #414141;
	border-bottom: none;
	padding: 5px 0;
	margin: 2px 0;
}

.input-update {
  width: 30%;
}

.input-update:focus {
	outline:none;
}

.done-btn {
	display: inline-block;
	font-size: .8em;
	background-color: #bb86fc;
	color: #000000;
	padding: 3px 6px;
	border: 0;
	opacity: 0.4;
}

.submit {
	background-color: #03dac5;
	color: #000000;
	padding: 5px 10px;
	border: none;
	width: 100%;
	margin-top: 10px;
	box-shadow: 3px 3px 0 #01ac9b;
}

.submit:hover {
	box-shadow: none;
}

.submit-update {
	background-color: #03dac5;
	padding: 5px 10px;
	border: none;
	width: 30%;
	margin-top: 10px;
	box-shadow: 3px 3px 0 #01ac9b;
}

.submit-update:hover {
	box-shadow: none;
}