body {
	background-color:#242424;
}

body,
input {
	font-family: 'Nunito Sans', sans-serif;
	font-size: large;
	color: rgb(216, 216, 216);
}

a {
	text-decoration: none;
}

.list {
	background-color: #121212;
	margin: 20px auto;
	width: 100%;
	max-width: 500px;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 3px 3px 0 rgba(0, 0, 0, .1);
	box-sizing: border-box;
}

.list .header {
	font-family: 'Nunito Sans', sans-serif;
	margin: 0 0 10px 0;
	color: #ffffff;
}

.items {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-family: 'Nunito Sans', sans-serif;
	color: #ffffff;
}

.items .task {
	font-weight: bolder;
	margin-left: 5px;
}

.items li:hover .done-btn {
	opacity: 1;
	box-shadow: 0 0 80px  #03dac5;
}

.items li:hover .del-btn {
	opacity: 1;
	box-shadow: 0 0 80px  #03dac5;
}

.items li:hover .upd-btn {
	opacity: 1;
	box-shadow: 0 0 80px  #03dac5;
}

.items .item.done {
	text-decoration: line-through;
}

.items li,
.item-add .input {
	border: 0;
	border-radius: 2px;
	background-color: #242424;
	border-bottom: none;
	padding: 10px 0;
	margin: 3px 0;
}

.item-add .input {
	width: 29%;
	padding-left: 5px;
}

.input:focus {
	outline:none;
}

.item-update {
	margin: 5px;
}

.item-update .input-update {
  border: 0;
	background-color: #414141;
	border-bottom: none;
}

.input-update {
	width: 28%;
	border-radius: 2px;
	padding: 5px;
	/* padding-left: 5px; */
}

.input-update:focus {
	outline:none;
}

.done-btn {
	display: inline-block;
	border-radius: 2px;
	font-size: .8em;
	background-color: #03dac5;
	color: #000000;
	margin: 5px;
	padding: 3px 6px;
	border: 0;
	opacity: 0.4;
	transition: 0.2s;
}

.del-btn {
	display: inline-block;
	border-radius: 2px;
	font-size: .8em;
	background-color: #03dac5;
	color: #000000;
	margin: 5px;
	padding: 3px 6px;
	border: 0;
	opacity: 0.4;
	transition: 0.2s;
}

.upd-btn {
	display: inline-block;
	border-radius: 2px;
	font-size: .8em;
	background-color: #03dac5;
	color: #000000;
	margin: 5px;
	padding: 3px 6px;
	border: 0;
	opacity: 0.4;
	transition: 0.2s;
}

.submit {
	cursor: pointer;
	border-radius: 2px;
	background-color: #bb86fc;
	color: #000000;
	font-weight: 500;
	padding: 10px;
	border: none;
	width: 31%;
	transition: 0.2s;
	opacity: 0.4;
}

.submit:hover {
	box-shadow: 0 0 80px  #bb86fc;
	opacity: 1;
}

.submit-update {
	cursor: pointer;
	border-radius: 2px;
	background-color: #bb86fc;
	color: #000000;
	padding: 5px 10px;
	border: none;
	width: 30%;
	box-shadow: none;
	transition: 0.2s;
	opacity: 0.4;
}

.submit-update:hover {
	box-shadow: 0 0 80px  #bb86fc;
	opacity: 1;
}