
<form action="checkbox-form.php" method="post">

  Which buildings do you want access to?<br />
  <input type="checkbox" name="formDoor[]" value="A" />Acorn Building<br />
  <input type="checkbox" name="formDoor[]" value="B" />Brown Hall<br />
  <input type="checkbox" name="formDoor[]" value="C" />Carnegie Complex<br />
  <input type="checkbox" name="formDoor[]" value="D" />Drake Commons<br />
  <input type="checkbox" name="formDoor[]" value="E" />Elliot House

  <input type="submit" name="formSubmit" value="Submit" />

  </form>
